/* Header */
header {
    display: flex;
    width: 100%;
    margin: 0px;
    background-color: black;
}
header h1 {
    color: white;
    font-size: 16px;
    margin-left: 20px;
}
/* Body*/
h2 {
    font-size: 40px;
}
#content {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
}
.search {
    margin-bottom: 10px;
    
}
.post {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: whitesmoke;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    height: 180px;
}

footer span {
    font-size: 50px;
}